@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}
/* Navbar*/
.Navbar {
  color: #000 !important;
  font-size: 26px !important;
  font-weight: 500 !important ;
}
/*Home*/
.parallax-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/assets/home.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption span.border {

  font-weight: 600;
  color: #fff;
  letter-spacing: 10px;
  border: solid 1px rgb(255, 255, 255);
}